
//@theme "/usr/share/rofi/themes/dmenu.rasi"

//@theme "/home/lencelg/.config/rofi/themes/squared-everforest.rasi"

//@theme "/home/lencelg/.config/rofi/themes/squared-everforest.rasi"

//@theme "/home/lencelg/.config/rofi/themes/nord-twoLines.rasi"

@theme "/home/lencelg/.config/rofi/themes/squared-everforest.rasi"
